@charset "utf-8";

// Define defaults for each variable.

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('/assets/fonts/SourceSerif4Subhead-Regular.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('/assets/fonts/SourceSerif4Subhead-It.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('/assets/fonts/SourceSerif4Subhead-Semibold.otf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('/assets/fonts/SourceSerif4Subhead-SemiboldIt.otf.woff2') format('woff2');
}

@font-face{
  font-family: 'Literata';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('/assets/fonts/LiterataTT-SubheadRegular.woff2') format('woff2');
}

@font-face{
  font-family: 'Literata';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('/assets/fonts/LiterataTT-SubheadItalic.woff2') format('woff2');
}

@font-face{
  font-family: 'Literata';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('/assets/fonts/LiterataTT-SubheadSemibold.woff2') format('woff2');
}

@font-face{
  font-family: 'Literata';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('/assets/fonts/LiterataTT-SubheadSemiboldItalic.woff2') format('woff2');
}

$base-font-family: 'Source Serif 4', 'Literata', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #355c7D !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
